@import url('font-awesome.min.css');

body, html {
  margin: 0;
}

footer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-anchor: middle;
  color: darkgray;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: 'Montserrat';
  letter-spacing: 3px;
}

#page {
  width: 100%;
  height: 100%;
  display: table;
}

#content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  animation: fadeIn 3s linear;
}

#logo {
  display: block;
  vertical-align: middle;
}

#subtitle {
  margin-top: 3vh;
  padding:  0;
}

#subtitle div {
  margin: 0px auto;
  opacity: 0;
  width: 75%;
  margin-top: .5vw;
  text-align: center;
  text-anchor: middle;
  color: white;
  background-color: black;
  font-size: calc(12px + 1vw);
  font-style: normal;
  font-weight: normal;
  line-height: 1.7em;
  font-family: 'Montserrat';
  letter-spacing: 4px;
  animation-name: move-in;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#subtitle div:nth-child(1) {
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -ms-animation-delay: .3s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
}

#subtitle div:nth-child(2) {
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  -ms-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}

#subtitle div:nth-child(3) {
  -moz-animation-delay: .9s;
  -webkit-animation-delay: .9s;
  -ms-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
}

#subtitle div:nth-child(4) {
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#header {
  display: block;
  vertical-align: middle;
}

#header nav .iconWrap {
  opacity: 0;
  animation: nav-icons 1s ease-in-out forwards;  
}

#header nav li:nth-child(1) div.iconWrap {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

#header nav li:nth-child(2) div.iconWrap {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

#header nav li:nth-child(3)  div.iconWrap {
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#header nav li:nth-child(4) div.iconWrap {
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

#header nav li:nth-child(5) div.iconWrap {
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -ms-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

#header nav .icon > .label {
  display: none;
}

#header nav .icon {
  font-size: 5vw;
  border: 1px darkgray solid;
  padding: 3vw;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  -ms-transition: -moz-transform .3s;
  -o-transition: -o-transform .3s;
  transition: transform .3s;
}

#header nav .icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header nav .icon:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  text-decoration: none;
}

#header nav a {
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#header nav a:link {
  color: black;
}

#header nav a:visited {
  color: black;
}

#header nav a:focus {
  outline:none;
}

#header nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-inline-start: 0px;
  list-style-type: none;
}

#header nav ul li {
  display: inline-block;
  padding: 6vh 2vw;
}

#footer {
  display: table-row;
  height: 3em;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0, 5em, 0) rotateY(360deg);
    -webkit-transform: translate3d(0, 5em, 0) rotateY(360deg);
    -ms-transform: translate3d(0, 5em, 0) rotateY(360deg);
    -o-transform: translate3d(0, 5em, 0) rotateY(360deg);
    transform: translate3d(0, 5em, 0) rotateY(360deg);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0, 0, 0) rotateY(0deg);
    -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
    -ms-transform: translate3d(0, 0, 0) rotateY(0deg);
    -o-transform: translate3d(0, 0, 0) rotateY(0deg);
    transform: translate3d(0, 0, 0) rotateY(0deg);
    opacity: 0.9;
  }
}

@keyframes move-in {
  0% {
    opacity: 0;
    transform:  rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}